:root {
  --swiper-tinder-no-color: red;
  --swiper-tinder-yes-color: green;
  --swiper-tinder-label-text-color: #fff;
  --swiper-tinder-label-font-size: 32px;
  --swiper-tinder-button-size: 56px;
  --swiper-tinder-button-icon-size: 32px;
}

html,
body {
  @apply relative h-full m-0 p-0 font-body;
}

body {
  @apply bg-black leading-normal antialiased px-4 font-body;
}

.swiper-tinder {
  @apply p-4 w-full h-full;
}

.swiper-slide {
  @apply overflow-hidden relative;
}
.card-image {
  @apply absolute top-0 left-0  h-full bg-cover bg-center bg-no-repeat;
}
.card-face {
  @apply h-3/5 flex flex-row items-center justify-center text-2xl text-white box-border;
  .overlay {
    @apply text-base;
    h2 {
      @apply text-3xl font-display;
    }
  }
}
/* .card-gradient-overlay {
  @apply absolute bottom-0 left-0 w-full h-1/3;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
} */
.swiper-slide img {
  @apply h-full w-full;
}

.answer-slide {
  transform-origin: center center;
  background-color: #bbeeee;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='1600' viewBox='0 0 50 4000'%3E%3Cg fill='%23FFF'%3E%3Ccircle cx='25' cy='2226' r='24'/%3E%3Ccircle cx='25' cy='2176' r='23'/%3E%3Ccircle cx='25' cy='2126' r='22'/%3E%3Ccircle cx='25' cy='2076' r='21'/%3E%3Ccircle cx='25' cy='2026' r='20'/%3E%3Ccircle cx='25' cy='1976' r='19'/%3E%3Ccircle cx='25' cy='1926' r='18'/%3E%3Ccircle cx='25' cy='1876' r='17'/%3E%3Ccircle cx='25' cy='1826' r='16'/%3E%3Ccircle cx='25' cy='1776' r='15'/%3E%3Ccircle cx='25' cy='1726' r='14'/%3E%3Ccircle cx='25' cy='1676' r='13'/%3E%3Ccircle cx='25' cy='1626' r='12'/%3E%3Ccircle cx='25' cy='1576' r='11'/%3E%3Ccircle cx='25' cy='1526' r='10'/%3E%3Ccircle cx='25' cy='1476' r='9'/%3E%3Ccircle cx='25' cy='1426' r='8'/%3E%3Ccircle cx='25' cy='1376' r='7'/%3E%3Ccircle cx='25' cy='1326' r='6'/%3E%3Ccircle cx='25' cy='1276' r='5'/%3E%3Ccircle cx='25' cy='1226' r='4'/%3E%3Ccircle cx='25' cy='1176' r='3'/%3E%3Ccircle cx='25' cy='1126' r='2'/%3E%3Ccircle cx='25' cy='1076' r='1'/%3E%3Ccircle cx='50' cy='2201' r='24'/%3E%3Ccircle cx='50' cy='2151' r='23'/%3E%3Ccircle cx='50' cy='2101' r='22'/%3E%3Ccircle cx='50' cy='2051' r='21'/%3E%3Ccircle cx='50' cy='2001' r='20'/%3E%3Ccircle cx='50' cy='1951' r='19'/%3E%3Ccircle cx='50' cy='1901' r='18'/%3E%3Ccircle cx='50' cy='1851' r='17'/%3E%3Ccircle cx='50' cy='1801' r='16'/%3E%3Ccircle cx='50' cy='1751' r='15'/%3E%3Ccircle cx='50' cy='1701' r='14'/%3E%3Ccircle cx='50' cy='1651' r='13'/%3E%3Ccircle cx='50' cy='1601' r='12'/%3E%3Ccircle cx='50' cy='1551' r='11'/%3E%3Ccircle cx='50' cy='1501' r='10'/%3E%3Ccircle cx='50' cy='1451' r='9'/%3E%3Ccircle cx='50' cy='1401' r='8'/%3E%3Ccircle cx='50' cy='1351' r='7'/%3E%3Ccircle cx='50' cy='1301' r='6'/%3E%3Ccircle cx='50' cy='1251' r='5'/%3E%3Ccircle cx='50' cy='1201' r='4'/%3E%3Ccircle cx='50' cy='1151' r='3'/%3E%3Ccircle cx='50' cy='1101' r='2'/%3E%3Ccircle cx='50' cy='1051' r='1'/%3E%3Ccircle cx='0' cy='2201' r='24'/%3E%3Ccircle cx='0' cy='2151' r='23'/%3E%3Ccircle cx='0' cy='2101' r='22'/%3E%3Ccircle cx='0' cy='2051' r='21'/%3E%3Ccircle cx='0' cy='2001' r='20'/%3E%3Ccircle cx='0' cy='1951' r='19'/%3E%3Ccircle cx='0' cy='1901' r='18'/%3E%3Ccircle cx='0' cy='1851' r='17'/%3E%3Ccircle cx='0' cy='1801' r='16'/%3E%3Ccircle cx='0' cy='1751' r='15'/%3E%3Ccircle cx='0' cy='1701' r='14'/%3E%3Ccircle cx='0' cy='1651' r='13'/%3E%3Ccircle cx='0' cy='1601' r='12'/%3E%3Ccircle cx='0' cy='1551' r='11'/%3E%3Ccircle cx='0' cy='1501' r='10'/%3E%3Ccircle cx='0' cy='1451' r='9'/%3E%3Ccircle cx='0' cy='1401' r='8'/%3E%3Ccircle cx='0' cy='1351' r='7'/%3E%3Ccircle cx='0' cy='1301' r='6'/%3E%3Ccircle cx='0' cy='1251' r='5'/%3E%3Ccircle cx='0' cy='1201' r='4'/%3E%3Ccircle cx='0' cy='1151' r='3'/%3E%3Ccircle cx='0' cy='1101' r='2'/%3E%3Ccircle cx='0' cy='1051' r='1'/%3E%3Crect x='-10' y='2212' width='70' height='1788'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: repeat-x;
}

.demo-slide-name {
  @apply absolute left-0 bottom-0 w-full p-4 pb-12 box-border text-white z-50 text-xl;
}

.demo-empty-slide {
  @apply bg-gray-400 flex items-center justify-center text-2xl leading-normal text-center font-bold text-gray-600;
  text-shadow: 0px 1px 0px #fff;
}

.demo-empty-slide::before {
  @apply hidden;
}

.flip-animate {
  animation: flip 1s forwards;
  animation-delay: 1s;
  opacity: 1;
}

@keyframes flip {
  from {
    transform: perspective(1000px) rotateY(90deg);
  }

  to {
    transform: perspective(1000px) rotateY(0deg);
  }
}
.swiper-tinder-buttons {
  @apply flex justify-center gap-5 z-10;
}

.swiper-tinder-button {
  @apply flex items-center justify-center shadow-md cursor-pointer transition-transform duration-200;
}

.swiper-tinder-button:hover {
  @apply scale-110;
}

swiper-slide {
  perspective: 1000px;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card-front {
  @apply z-10;
}

.card-back {
  @apply text-white;
  transform: rotateY(180deg);
  background-image: url(/images/card-reveal.png);
}

.feedback-text {
}

.card-container.is-flipped .card-front {
  z-index: 0;
}

.card-container.is-flipped .card-back {
  z-index: 1;
}

.card-content {
  @apply absolute bottom-0 left-0 w-full p-4  z-20;
}

.card-text {
  @apply m-0;
}

.reveal-icon {
  @apply flex justify-center items-center w-full h-full;
}

.swiper-slide-active.swiper-slide-swiping .swiper-tinder-label {
  @apply opacity-100;
}

html,
body {
  @apply relative h-full m-0 p-0 overflow-hidden;
}

body {
  @apply bg-black leading-normal antialiased;
}

.swiper-tinder {
  @apply flex-grow overflow-hidden;
}

.swiper-wrapper,
.slide-inner {
  @apply h-full;
}

.floating-text-container {
  @apply z-10 pointer-events-none px-6 py-2;
}

.swiper-tinder-buttons {
  @apply flex justify-center gap-5 z-10 py-2 flex-shrink-0;
}

.container-end {
  @apply flex-shrink-0 text-blue-200 text-center p-2 flex flex-row justify-between;
}

/* Adjust for smaller screens */
@media (max-height: 600px) {
  .floating-text-container {
    @apply h-1/5;
  }

  .card-text {
    @apply text-base;
  }

  .swiper-tinder-buttons {
    @apply py-1;
  }

  .container-end {
    @apply p-1;
  }
}

.overlay-content {
  h1,
  h2,
  h3 {
    @apply pb-4;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply pb-3;
  }
}
